<div ibmRow class="landing-page__banner">
	<div ibmCol [columnNumbers]="{'lg': 16}">
		<ibm-breadcrumb noTrailingSlash="true" ariaLabel="Page navigation">
			<ibm-breadcrumb-item href="/">
				Getting started
			</ibm-breadcrumb-item>

		</ibm-breadcrumb>
		<h1 class="landing-page__heading">
			Design &amp; build with Carbon
		</h1>
	</div>
</div>
<div ibmRow class="landing-page__r2">
	<div ibmCol class="bx--no-gutter">
		<ibm-tabs ariaLabel="Tab navigation">
			<ibm-tab heading="About">
				<div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
					<div ibmRow class="landing-page__tab-content">
						<div ibmCol [columnNumbers]="{'md': 4, 'lg': 7}">
							<h2 class="landing-page__subheading">
								What is Carbon?
							</h2>
<!--							<div>-->
<!--								<ng-template #template let-tooltip="tooltip">-->
<!--									<p icon ibmIconPhone>Heeft u behoefte aan enige vorm van ondersteuning? Onze Servicedesk geeft u advies en helpt u graag verder</p>-->
<!--									<p>Help: test@service.nl</p>-->
<!--									<p>mobile: 1234567789</p>-->
<!--									<div class="bx&#45;&#45;tooltip__footer">-->
<!--										<a href="/" class="bx&#45;&#45;link">Learn More</a>-->
<!--										<button class="bx&#45;&#45;btn bx&#45;&#45;btn&#45;&#45;primary" (click)="tooltip.doClose()">Close</button>-->
<!--									</div>-->
<!--								</ng-template>-->

<!--								<div class="bx&#45;&#45;tooltip__label">-->
<!--									<p>wow das an amaxing tooltip</p>-->
<!--									<span-->
<!--										[ibmTooltip]="template"-->
<!--										trigger="click">-->

<!--									<div role="button">-->
<!--										<ibm-icon-information-filled size="16"></ibm-icon-information-filled>-->
<!--									</div>-->
<!--								</span>-->
<!--								</div>-->
<!--								<ibm-placeholder></ibm-placeholder>-->
<!--							</div>-->

								<Tooltip
								direction="bottom"
								tabIndex={0}
								triggerText="Tooltip label"
							>
								<p>
									This is some tooltip text. This box shows the maximum amount of text that should appear inside. If more room is needed please use a modal instead.
								</p>
								<div className="bx--tooltip__footer">
									<Button size="small">
										Create
									</Button>
								</div>
							</Tooltip>

							<p class="landing-page__p">
								Carbon is IBM’s open-source design system for digital
								products and experiences. With the IBM Design Language
								as its foundation, the system consists of working code,
								design tools and resources, human interface guidelines,
								and a vibrant community of contributors.
							</p>
							<button ibmButton>Learn more</button>
						</div>
						<div ibmCol class="bx--offset-lg-1" [columnNumbers]="{'md': 4, 'lg': 8}">
							<img
								class="landing-page__illo"
								src="../../../assets/tab-illo.png"
								alt="Carbon illustration"
							/>
						</div>
					</div>
				</div>
			</ibm-tab>
			<ibm-tab heading="Design">
				<div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
					<div ibmRow class="landing-page__tab-content">
						<div ibmCol [columnNumbers]="{'lg': 16}">
							Rapidly build beautiful and accessible experiences. The Carbon kit
							contains all resources you need to get started.
						</div>
					</div>
				</div>
			</ibm-tab>
			<ibm-tab heading="Develop">
				<div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
					<div ibmRow class="landing-page__tab-content">
						<div ibmCol [columnNumbers]="{'lg': 16}">
							Carbon provides styles and components in Vanilla, React, Angular,
							and Vue for anyone building on the web.
						</div>
					</div>
				</div>
			</ibm-tab>
		</ibm-tabs>
	</div>
</div>
<div ibmRow class="landing-page__r3">
	<div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">
		<h3 class="landing-page__label">The Principles</h3>
	</div>
	<div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">Carbon is Open</div>
	<div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">Carbon is Modular</div>
	<div ibmCol [columnNumbers]="{'md': 4, 'lg': 4}">Carbon is Consistent</div>
</div>
